@import url('https://fonts.googleapis.com/css?family=Work+Sans');

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

blockquote::before {
    content: open-quote;
    color: #cc0000;
    font-size: 1.5em;
}
blockquote::after {
    content: close-quote;
    color: #cc0000;
    font-size: 1.5em;
}

#reg-wrapper {
    background:url("../../img/backgrounds/blur-book.jpg");
    background-repeat: no-repeat;
    font-family: 'Work Sans', sans-serif;
    background-size: cover;
    background-position:center;
    padding-bottom: 150px;
}

#reg-sign-main label {
    margin-top: 15px;
}
.navbar-brand {
    color: rgb(171, 179, 181);
}

.navbar-brand:hover {
    color:greenyellow;
}

.nav-link {
    color: rgb(171, 179, 181);
    
}
.nav-link:hover {
    color:greenyellow;
    // color:white;
}

header {
    background: rgb(61, 71, 79);
    width:100%;
}

.validation {
    margin-top: 35px;
}

.valid-style {
    color:red;
    font-weight: bold;
    list-style: none;
    letter-spacing: .1em;
    padding-bottom: 12px;
}

.navbar {
    width: 100%;
    margin: 0;
    padding: 0;
}

.fa-book-open {
    color: red;
}

#reg-sign {
    margin-top: 50px;
    margin-bottom: 50px;
    opacity: .9;
    padding: 0;
}
#reg-sign-header {
    opacity: .7;
}

input[type=text] {
    border-radius: 15px;
    opacity: 0.8;
}
input[type=email] {
    border-radius: 15px;
    opacity: 0.8;
}
input[type=password] {
    border-radius: 15px;
    opacity: 0.8;
}
input[type=text]:focus {
    opacity: 1;
}
input[type=email]:focus {
    opacity: 1;
}
input[type=password]:focus {
    opacity: 1;
}

#mainContainer {
    margin-left: 40px;
    margin-right: 40px;
}

.nav-item {
    text-align: right;
}




//      registration/sign in        //
//          dashboard               //




#home-wrapper {
    font-family: 'Work Sans', sans-serif;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}


.top{
    background:url("../../img/backgrounds/belp-home4.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(56, 64, 71);
    padding-bottom: 55%;
    padding-top: 50px;
}

#text-awaits {
    color: rgb(101, 102, 42);
}

#recent-review {
    margin-top: 50px;
}

#other-reviews-home {
    margin: 0;
    background-color: #f6f6f6;
}

.review-box {
    border-radius: 15px;
}

.review-box:hover {
    background-color:white;
}

#scrollBar {
    height: 50%;
    border-radius: 15px;
}

#scrollBar:hover {
    background-color: white;
}

.card {
    box-shadow: 0 5px 15px rgba(0,0,0,.15);
    position: relative;
    transition: transform 400ms box-shadow 400ms;
}

.card:hover {
    box-shadow: 0 15px 70px rgba(0,0,0,.20);
    transform: scale(1.01);
}

.card img {
    margin: auto;
    display: block;
    object-fit: scale-down;
}
.book-id  {
    border-radius: 30px;
    padding-left: 12px;
    background-color: #bcc1b5;
    border: 1px solid black;
}



//          DASHBOARD           //

//          ADD-BOOK            //




#add-wrapper {
    font-family: 'Work Sans', sans-serif;
}

#area-text-add {
    border-radius: 5px;
}



//          ADD BOOK            //

//          USER PROFILE        //




.profile-pic.form-control {
    width: 150px;
    height: 130px;
    border: 0;
    object-fit: scale-down;
}

#user-profile .form-control {
    border-radius: 15px;
    margin-top: 30px;
}

#user-profile {
    margin-top: 150px;
}

#user-wrapper {
    font-family: 'Work Sans', sans-serif;
    background:url("../../img/backgrounds/wood.jpeg");
    background-repeat: no-repeat;
    font-family: 'Work Sans', sans-serif;
    background-size: cover;
    padding-bottom: 550px; 
}

.btn-edit a:hover {
    text-decoration: none;
    color: white;
}

.btn-edit a {
    text-decoration: none;
    color: white;
}




//          USER PROFILE        //

//          EDIT PROFILE        //




#edit-wrapper {
background:url("../../img/backgrounds/book-cactus.jpg");
background-repeat: no-repeat;
font-family: 'Work Sans', sans-serif;
font-weight: bold;
background-size: cover;
padding-bottom: 130px;
}

.edit-alert {
    font-weight: bold;
    list-style: none;
    letter-spacing: .1em;
}
#edit-profile {
    margin-top: 100px;
}

.edit-form input[type=text] {
    border-radius: 15px;
}
.edit-form input[type=email] {
    border-radius: 15px;
    opacity: 1;
}
.edit-form input[type=password] {
    border-radius: 15px;
    opacity: 1;
}
.edit-form label {
    margin-top: 15px;
}

.val-update ul {
    margin-top: 15px;
}


//          EDIT PROFILE        //


//          SHOW BOOK           //


#book-wrapper {
    font-family: 'Work Sans', sans-serif;
}

.top-header p {
    margin-bottom: 0;
    margin-top: 30px;
} 
.top-header img {   
    margin: auto;
    margin-top: 50px;
    display: block;
    object-fit: scale-down;
} 

.liner::before {
    content:'';
    display: block;
    height: 1px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    background: gray;
}

.profile-pic {
    width: 150px;
    height: 130px;
    object-fit: scale-down;
}

.fa-trash-alt {
    color: red;
    cursor: pointer;
}



// @media only screen and (max-width: 768px) {
//     [class*="col-"] {
//         width: 50%;
//     }
// }
// @media only screen and (min-width:768px) {
//     #register {
//         grid-auto-rows:  !important;
