<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- <meta http-equiv="refresh" content="3" > -->
        <!-- FAVICON -->
        <!-- {% load static %} -->
        <link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}" type="image/x-icon"> 
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <!-- <meta http-equiv="refresh" content="8" > -->
        <!-- Fontawesome (icons) --> 
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <!-- CSS file -->
        <link rel="stylesheet" href="./../../static/stylesheet/css/add.css">
        <title>Add</title>
    </head>
    <body>
                <!-- FAVICON -->
        <!-- {% load static %} -->
        <link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}" type="image/x-icon"> 
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <!-- <meta http-equiv="refresh" content="8" > -->
        <!-- Fontawesome (icons) --> 
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <!-- CSS file -->
        <link rel="stylesheet" href="./../../static/stylesheet/css/add.css">
        <title>Belp Dashboard</title>
    </head>
    <body>
        <div id="wrapper">
            <div class="container navbar-container">
                <nav class="navbar navbar-expand-lg navvar-light">
                    <a id='navbar-brand' href="/home"><img src="./../../static/book_review/img/brand.png" alt="brand-logo"><span id='brand-text'>elp</span></a>
                    <button class="btn navbar-toggler" type='button' data-toggle="collapse" data-target="#navbarItem" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="toggle"><i class="fas fa-book-open"></i></span>
                    </button>
    
                    <div class="collapse navbar-collapse justify-content-end" id="navbarItem">
                        <div class="dropdown float-right">
                            <button class="btn btn-sm btn-danger dropdown-toggle mr-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{curr_user.name}}
                            </button>    
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/user/{{curr_user.id}}"><i class="fas fa-user-tie"></i> Profile</a>
                                <a class="dropdown-item" href="/user/{{curr_user.id}}"><i class="fas fa-bookmark"></i>  My Books</a>
                                <a class="dropdown-item" href="mailto:kenchosepham@gmail.com"><i class="far fa-question-circle"></i>  Support</a>
                            </div>
                            <form class="nav-item float-right" action="/logout" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">Logout</button>
                            </form>
                        </div>
                    </div>
                </nav>
            </div>               

                            
            <div>
                {%if messages%}
                    {%for message in messages%}
                    <ul>
                        <li>
                            <h4>{{message}}</h4>
                        </li>
                    </ul>
                    {%endfor%}
                {%endif%}
            </div>

            <section>
                <h2 class="text-center mt-4">Add a New Book Title and a Review</h2>
                <div class="container mt-4">
                    <div class="form-row">
                        <div class="col-sm-12 col-md-10 form-group">
                            <form action="/add" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <label for="book_image">Book Image</label>
                                <input type="file" name="book_img" class="form-control" required=True>
                                <label for="book_title" class="mt-4">Book Title</label>
                                <input type="text" name="title" class="form-control">
                                <label for="old_author" class="mt-4">Old Author</label>
                                <select name="old_author" class="form-control">
                                    {% for a in authors%}
                                        <option value="{{a.id}}">{{a.author_name}}</option>
                                    {% endfor %}
                                </select>
                                <label for="new_author" class="mt-4">New Author</label>
                                <input type="text" name="new_author" class="form-control">
                                <label for="review" class="mt-4">Review</label>
                                <div class="form-group">
                                    <p><textarea id="area-text-add" name="content" class="form-control" rows="10"></textarea></p>
                                </div>
                                <div>
                                    <label class="form-label">Rating</label>
                                    <select name="rating">
                                        <option value='1'>1</option>
                                        <option value='2'>2</option>
                                        <option value='3'>3</option>
                                        <option value='4'>4</option> 
                                        <option value='5'>5</option>
                                    </select>
                                    <button type="submit" class="btn btn-danger float-right">Add Book and Review</button>
                                </div>
                            </form>                                                  
                        </div>
                    </div>
                </div>
            </section>

            <section id='main-footer-content'> <!-- MAIN FOOTER CONTENT -->
                <div class="container ">
                    <div class="row footer-info">
                        <div id='footer-content-contact' class="col-sm-4 footer-content">
                            <h3>Belp the Book</h3>
                            <p class='mt-4'>
                                Belp is a successful book review website used by people from all across the world! Each review contains a short summary of the book, background of authors and topics, or anything you want.
                            </p>
                        </div>
                        <div class="col-sm-4 footer-content">
                            <h3>Quick Links</h3>
                            <ul class='text-uppercase quicklinks mt-4'>
                                <li>
                                    <p><a href="#" class='link'>contact</a></p>
                                </li>
                                <li>
                                    <p><a href="#" class='link'>events</a></p>
                                </li>
                                <li>
                                    <p><a href="#" class='link'>e-books</a></p>
                                </li>
                                <li>
                                    <p><a href="#" class='link'>blog</a></p>
                                </li>
                                <li>
                                    <p><a href="#" class='link'>tell-a-friend</a></p>
                                </li>
                                <li>
                                    <p><a href="#">help & support</a></p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4 footer-content company-info">
                            <h3>Belp</h3>
                            <p class='company-address mt-4'>Address:</p>
                            <p class='company-address'>1234 Main St.</p>
                            <p class='company-address'>San Franciso, CA 94115</p>
                            <div class="contact-content">
                                <p><i class="fas fa-phone pr-2"></i>123-456-7890</p>
                                <p><i class="fas fa-envelope mr-2"></i>info@mywesite.com</p>
                            </div>
                            <div class="social-media">
                                <a href="#"><i id="linkedin" class="fab fa-linkedin fa-2x"></i></a> 
                                <a href="#"><i id="github" class="fab fa-github fa-2x"></i></a> 
                                <a href="#"><i id="facebook" class="fab fa-facebook-square fa-2x"></i></a>     
                            </div>
                        </div>
                    </div>
                </div>
            </section>  <!-- MAIN FOOTER CONTENT -->    
        </div> <!--WRAPPER-->
        
        <footer id='footer'>  <!-- FOOTER -->
            <div class="container">
                <div class="footer-bottom">
                    <p class="text-center copyright-text"><i class="far fa-copyright"> 2019 Belp | Designed by Kenny Pham</i></p> 
                </div>
            </div>
        </footer>
        <!-- FOOTER -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    
    </body>
</html>