<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- <meta http-equiv="refresh" content="8" > -->
        <!-- CSS file -->
        <link rel="stylesheet" href="../../static/book_review/sass/css/index.css">

        <!-- Fontawesome (icons) --> 
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <title>Book</title>
    </head>
    <body>
        <div id="book-wrapper">
            <div class="modal fade" id="myModal"> <!--fade is a transition animator-->
                <div class="modal-dialog"> <!--creates dialog within the modal-->
                    <div class="modal-content"> <!--different contants that are within the dialog which will give it some padding-->
                        <div class="modal-header">
                            <h4 class="modal-title">Delete Review</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete this review?</p>
                        </div>
                        <div class="modal-footer">
                            <form  action="/review/delete/" method="post" id="actionVal">
                                {% csrf_token %}
                                <button class="btn btn-danger" type="submit">Yes</button>
                            </form>
                            <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <header>
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg"> 
                        <a href="/home" class="navbar-brand display-5">Belp for Books</a>
                        <button class="btn navbar-toggler" data-toggle="collapse" data-target="#navbarItem">
                            <span class="toggle"><i class="fas fa-book-open"></i></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navbarItem">
                            <div class="dropdown float-right">
                                <button class="btn btn-sm btn-danger dropdown-toggle mr-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{curr_user.name}}
                                </button>
                                <a href="/books/add" class="btn btn-danger btn-sm mr-2">Add Book and Review</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="/user/{{curr_user.id}}"><i class="fas fa-user-tie"></i> Profile</a>
                                    <a class="dropdown-item" href="/user/{{curr_user.id}}"><i class="fas fa-bookmark"></i>  My Books</a>
                                    <a class="dropdown-item" href="mailto:kenchosepham@gmail.com"><i class="far fa-question-circle"></i>  Support</a>                                </div>
                                <form class="nav-item float-right" action="/logout" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm">Logout</button>
                                </form>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>


            <section id="book-show">
                <div class="top-header">
                    <img class="book_img" src="{{curr_book.book_img.url}}">
                    <h2 class="text-center"><p><u>{{curr_book.title}}</u></p></h2>
                    <p class="text-center"><small>by {{curr_book.author}}</small></p>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-8 mb-4">
                            <form action="/add_review/{{curr_book.id}}" method="post">
                                {% csrf_token %}
                                <label for="review"></label>
                                <p><textarea id="area-text-add" name="content" class="form-control" rows="10" placeholder="Write a review..."></textarea></p>
                                <label for="rating">Rating</label>
                                <select name="rating" class="col-md-2">
                                    <option value='1'>1</option>
                                    <option value='2'>2</option>
                                    <option value='3'>3</option>
                                    <option value='4'>4</option> 
                                    <option value='5'>5</option>
                                </select>
                                <button class="btn btn-danger btn-sm float-right">Submit</button>
                            </form>                                                          
                        </div>

                        <!--create ratings into stars and not numbers-->

                        <div class="col-sm-12 col-md-4">
                            <div class="container validation">
                                <div id="val" class="row">
                                    <ul class="col-10">
                                        {%if messages%}
                                            {%for message in messages%}
                                                <li class="text-left valid-style">{{message}}</li>
                                            {%endfor%}
                                        {%endif%}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% for r in book_reviews%}
                    <div class="row liner">
                        <div class="col-sm-12 col-md-2">
                            {% if r.writer.profile_pic %}
                                <img class="profile-pic" src="{{r.writer.profile_pic.url}}" alt="profile-pic">
                            {% endif %} 
                        </div>
                        <div class="col-sm-12 col-md-10">
                            <h5><p>Rating: {{r.rating}}</p></h5>
                            <h5><p><a href="/user/{{r.writer.id}}" class="text-center">{{r.writer.name}}</a> wrote: {{r.content}}</p></h5>
                            {% if curr_user.id == r.writer.id %}
                                <i id="deleteId" data-id="{{r.id}}" data-toggle="modal" data-target="#myModal"class="far fa-trash-alt"></i> 
                                <!-- <a  id="deleteId" data-id="{{r.id}}" href='{{r.id}}' data-toggle="modal" data-target="#myModal"><i class="far fa-trash-alt"></i></a>  -->
                            {% endif%}
                            <h9>Posted on: {{r.created_at}}</h9>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>   
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>    
                    
            <!--Javascript-->
            <script type="text/javascript" src= 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
            <script type="text/javascript" src="../static/book_review/js/book_show.js"></script>
        </div>
    </body>
</html>