<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- <meta http-equiv="refresh" content="8" > -->
        <!-- CSS file -->
        <link rel="stylesheet" href="../../static/book_review/sass/css/index.css">

        <!-- Fontawesome (icons) --> 
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <title>Book</title>
    </head>
    <body>
        <div id="book-wrapper">
            <header>
                <div class="container">
                    <nav class="navbar navbar-expand-md"> 
                        <a href="/home" class="navbar-brand display-5">Belp for Books</a>
                        <button class="btn navbar-toggler" data-toggle="collapse" data-target="#navbarItem">
                            <span class="toggle"><i class="fas fa-book-open"></i></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navbarItem">
                            <!-- <a href="/books/add" class="btn btn-danger float-right">Add Book and Review</a> -->
                            <div class="dropdown float-right">
                                <button class="btn btn-sm btn-danger dropdown-toggle mr-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{curr_user.name}}
                                </button>
                                <a href="/books/add" class="btn btn-danger btn-sm mr-1">Add Book and Review</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="/user/{{curr_user.id}}">Profile</a>
                                    <a class="dropdown-item" href="#">My Books</a>
                                    <a class="dropdown-item" href="#">Support</a>
                                </div>
                            </div>
                            <form class="nav-item float-right" action="/logout" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">Logout</button>
                            </form>
                        </div>
                    </nav>
                </div>
            </header>


            <section id="book-show">
                <!-- <img src="{{ user.image.url}}" alt=""> -->
                <h2 class="text-center mt-5"><p>{{curr_book.title}}</p><p><small class="text-center">by {{curr_book.author}}</small></p></h2>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 mt-4 border border-danger">
                            <h4>Reviews</h4>
                            {% for r in book_reviews%}
                                <div class='border border-dark'>
                                    <h5>Rating: {{r.rating}}</h5>
                                    <h5><a href="/users/{{r.writer.id}}">{{r.writer.name}}</a> says: {{r.content}}</h5>
                                    <h5>Posted on: {{r.created_at}}</h5>
                                    {% if user.id == r.writer.id %}
                                        <a href="/review/delete/{{r.id}}">Delete the review</a>
                                    {% endif%}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- <div class="container mt-4">
                    <div class="form-group row">
                        <form action="/add_review/{{curr_book.id}}" method="post">
                            {% csrf_token %}
                            <textarea name="content" class="form-control" rows="9" cols="40" placeholder="Add a review"></textarea>
                            <label for="rating">Rating</label>
                            <select name="rating" class="mt-4">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <button type="submit" class="btn btn-primary btn-sm ml-3">Submit Review</button>
                        </form>
                    </div>
                </div> -->
                <section>
                    <div class="container mt-4">
                        <div class="row">
                            <div class="col-sm-12 col-md-8 form-group">
                                <form action="/add" method="post">
                                    {% csrf_token %}
                                    <label for="review" class="mt-4"></label>
                                    <p><textarea id="area-text-add" name="content" class="form-control" rows="10" placeholder="Add a review"></textarea></p>
                                    <label for="rating">Rating</label>
                                    <select name="rating" class="form-control col-md-1">
                                        <option value='1'>1</option>
                                        <option value='2'>2</option>
                                        <option value='3'>3</option>
                                        <option value='4'>4</option> 
                                        <option value='5'>5</option>
                                    </select>
                                    <button class="btn btn-danger mt-4" >Submit</button>
                                </form>                                                  
                            </div>
                        </div>
                    </div>
                </section>
        
            </section>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>   
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>    
        </div>
    </body>
</html>