<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- <meta http-equiv="refresh" content="3" > -->
        <!-- CSS file -->
        <link rel="stylesheet" href="../../static/book_review/sass/css/index.css">
        
        <!-- Fontawesome (icons) --> 
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <title>Edit Profile</title>
    </head>
    <body>
        <div id="edit-wrapper">
            <header>
                <div class="container">
                    <nav class="navbar navbar-expand-md"> 
                        <a href="/home" class="navbar-brand display-5">Belp for Books</a>
                        <button class="btn navbar-toggler" data-toggle="collapse" data-target="#navbarItem">
                            <span class="toggle"><i class="fas fa-book-open"></i></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navbarItem">
                            <div class="dropdown float-right">
                                <button class="btn btn-sm btn-danger dropdown-toggle mr-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{curr_user.name}}
                                </button>
                                <a href="/books/add" class="btn btn-danger btn-sm mr-2">Add Book and Review</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="/user/{{curr_user.id}}"><i class="fas fa-user-tie"></i> Profile</a>
                                    <a class="dropdown-item" href="/user/{{curr_user.id}}"><i class="fas fa-bookmark"></i>  My Books</a>
                                    <a class="dropdown-item" href="mailto:kenchosepham@gmail.com"><i class="far fa-question-circle"></i>  Support</a>
                                </div>
                                <form class="nav-item float-right" action="/logout" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm">Logout</button>
                                </form>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>
            

            <section id="edit-profile">
                <div class="container">
                    {% if messages %}
                    <div class="col-md-6 offset-md-4">
                        <div class="alert alert-info text-center">
                            {% for message in messages %}
                                <ul>
                                    <li class="edit-alert d-inline">{{ message }}</li>
                                </ul>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-4 edit-form">
                            <form action="/edit_profile/{{curr_user.id}}" method="post" enctype="multipart/form-data"> <!--enctype="multipart/form-data-->
                                {% csrf_token %}
                                <div class="row"> 
                                    <div class="col-5 form-group">
                                        <label for="profile_pic">Profile Picture:</label>
                                        <input type="file" name="profile_pic">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 form-group">
                                        <label for="name">Name:</label>
                                        <input type="text" name="name" class="form-control" value="{{curr_user.name}}">
                                    </div>
                                </div> 
                                <div class="row">
                                    <div class="col-12 form-group">
                                        <label for="alias">Alias:</label>
                                        <input type="text" name="alias" class="form-control" value="{{curr_user.alias}}">
                                    </div>
                                </div> 
                                <div class="row"> 
                                    <div class="col-12 form-group">
                                        <label for="email">Email:</label>
                                        <input type="email" name="email" class="form-control" value="{{curr_user.email}}">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 form-group">
                                        <label for="password">New Password:</label>
                                        <input type="password" name="password" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 form-group">
                                        <label for="password_confirmation">Password Confirmation:</label>
                                        <input type="password" name="password_confirmation" class="form-control">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-success d-inline">Update</button>
                                <a href="/user/{{curr_user.id}}" class="btn btn-danger active" role="button" aria-pressed="true">Cancel</a>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>   
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>    
    </body>
</html>