<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- FAVICON -->
    <!-- {% load static %} -->
    <link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}" type="image/x-icon"> 
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <!-- <meta http-equiv="refresh" content="8" > -->
    <!-- Fontawesome (icons) --> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- CSS file -->
    <link rel="stylesheet" href="./../../static/stylesheet/css/index.css">
    <title>Welcome</title>
</head>
<body>
    <div id='wrapper'>

        <!-- NAVBAR -->
        <div class="container navbar-container">
            <nav class="navbar navbar-expand-lg navvar-light">
                <a id='navbar-brand' href="#"><img src="./../../static/book_review/img/brand.png" alt="brand-logo"><span id='brand-text'>elp</span></a>
                <button class="btn navbar-toggler" type='button' data-toggle="collapse" data-target="#navbarItem" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="toggle"><i class="fas fa-book-open"></i></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarItem">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Support</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>   
        <!-- NAVBAR -->
        
        <!-- MAIN CONTENT -->
        <section id="main">
            <div class="container">
                <div class="row" id="mainContainer">
                    
                    <div class="col-md-6" id="login">
                        <form action="login" method="post" class='reg-singin'>
                            <!-- {% csrf_token %} -->
                            <h2 class="text-left ">Login</h2>
                            <div class="form-row">
                                <div class="col-10  form-group">
                                    <label for="email">Email:</label>
                                    <input type="email" name="email" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-10  form-group">
                                    <label for="password">Password:</label>
                                    <input type="password" name="password" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group offset-sm-1 ">
                                    <button type="submit" class="btn btn-success form-control">Login</button>
                                </div>
                            </div>
                        </form>
                        <div class="container validation">
                            <div class="form-row">
                                <ul class="col-10">
                                    <!-- {%if messages%}
                                        {%for message in messages%}
                                        <li class="text-left valid-style">{{message}}</li>
                                        {%endfor%}
                                        {%endif%} -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" id='registration'>
                            <h2>Register</h2>
                            <form action="/register" method="post" class='reg-singin'>
                                <!-- {% csrf_token %} -->
                                <div class="form-row">
                                    <div class="col-10 form-group">
                                        <label for="name">Name:</label>
                                        <input type="text" name="name" class="form-control">
                                    </div>
                                </div> 
                                <div class="form-row">
                                    <div class="col-10 form-group">
                                        <label for="alias">Alias:</label>
                                        <input type="text" name="alias" class="form-control">
                                    </div>
                                </div> 
                                <div class="form-row"> 
                                    <div class="col-10 form-group">
                                        <label for="email">Email:</label>
                                        <input type="email" name="email" class="form-control">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-10 form-group">
                                        <label for="password">Password:</label>
                                        <input type="password" name="password" class="form-control">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-10 form-group">
                                        <label for="password_confirmation">Password Confirmation:</label>
                                        <input type="password" name="password_confirmation" class="form-control">
                                    </div>
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-success">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        </section>  <!--MAIN CONTENT-->
        
        <section id='main-footer-content'> <!-- MAIN FOOTER CONTENT -->
            <div class="container ">
                <div class="row footer-info">
                    <div id='footer-content-contact' class="col-sm-4 footer-content">
                        <h3>Belp the Book</h3>
                        <p class='mt-4'>
                            Belp is a successful book review website used by people from all across the world! Each review contains a short summary of the book, background of authors and topics, or anything you want.
                        </p>
                    </div>
                    <div class="col-sm-4 footer-content">
                        <h3>Quick Links</h3>
                        <ul class='text-uppercase quicklinks mt-4'>
                            <li>
                                <p><a href="#" class='link'>contact</a></p>
                            </li>
                            <li>
                                <p><a href="#" class='link'>events</a></p>
                            </li>
                            <li>
                                <p><a href="#" class='link'>e-books</a></p>
                            </li>
                            <li>
                                <p><a href="#" class='link'>blog</a></p>
                            </li>
                            <li>
                                <p><a href="#" class='link'>tell-a-friend</a></p>
                            </li>
                            <li>
                                <p><a href="#">help & support</a></p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4 footer-content company-info">
                        <h3>Belp</h3>
                        <p class='company-address mt-4'>Address:</p>
                        <p class='company-address'>1234 Main St.</p>
                        <p class='company-address'>San Franciso, CA 94115</p>
                        <div class="contact-content">
                            <p><i class="fas fa-phone pr-2"></i>123-456-7890</p>
                            <p><i class="fas fa-envelope mr-2"></i>info@mywesite.com</p>
                        </div>
                        <div class="social-media">
                            <a href="#"><i id="linkedin" class="fab fa-linkedin fa-2x"></i></a> 
                            <a href="#"><i id="github" class="fab fa-github fa-2x"></i></a> 
                            <a href="#"><i id="facebook" class="fab fa-facebook-square fa-2x"></i></a>     
                        </div>
                    </div>
                </div>
            </div>
        </section>  <!-- MAIN FOOTER CONTENT -->
    </div>  <!--WRAPPER PAGE-->

    
    <footer id='footer'>  <!-- FOOTER -->
        <div class="container">
            <div class="footer-bottom">
                <p class="text-center copyright-text"><i class="far fa-copyright"> 2019 Belp | Designed by Kenny Pham</i></p> 
            </div>
        </div>
    </footer>
    <!-- FOOTER -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    
</body>
</html>