<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- <meta http-equiv="refresh" content="8" > -->
        <!-- CSS file -->
        <link rel="stylesheet" href="../../static/book_review/sass/css/index.css">

        <!-- Fontawesome (icons) --> 
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <title>Welcome</title>
    </head>
    <body>
        <div id="reg-wrapper">
            <header id="reg-sign-header">
                <div class="container">
                    <nav class="navbar navbar-expand-md"> 
                        <a href="#" class="navbar-brand">Belp for Books</a>
                        <ul class="navbar-nav">
                                <li class="nav-item active"><a class="nav-link" href="#">Comedy</a></li>
                                <li class="nav-item active"><a class="nav-link" href="#">Comedy</a></li>
                                <li class="nav-item active"><a class="nav-link" href="#">Comedy</a></li>
                            </ul>    
                        <button class="btn navbar-toggler" data-toggle="collapse" data-target="#navbarItem">
                            <span class="toggle"><i class="fas fa-book-open"></i></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navbarItem">
                            <ul class="navbar-nav">
                                <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">About</a></li>
                                <!-- <li class="nav-item"><a href="#" class="nav-link">Books</a></li> -->
                                <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Support</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </header>


            <section id="reg-sign-main">
                <div class="container" id="reg-sign">
                    <div class="row" id="mainContainer">
                        <div class="col-md-6">
                            <h2>Register</h2>
                            <form action="/register" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-12 form-group">
                                        <label for="name">Name:</label>
                                        <input type="text" name="name" class="form-control">
                                    </div>
                                </div> 
                                <div class="row">
                                    <div class="col-12 form-group">
                                        <label for="alias">Alias:</label>
                                        <input type="text" name="alias" class="form-control">
                                    </div>
                                </div> 
                                <div class="row"> 
                                    <div class="col-12 form-group">
                                        <label for="email">Email:</label>
                                        <input type="email" name="email" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 form-group">
                                        <label for="password">Password:</label>
                                        <input type="password" name="password" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 form-group">
                                        <label for="password_confirmation">Password Confirmation:</label>
                                        <input type="password" name="password_confirmation" class="form-control">
                                    </div>
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-success">Register</button>
                                </div>
                            </form>
                        </div>
                    
                        <div class="col-md-6" id="login">
                            <h2 class="text-left">Login</h2>
                            <form action="login" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-sm-12 form-group">
                                        <label for="email">Email:</label>
                                        <input type="email" name="email" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 form-group">
                                        <label for="password">Password:</label>
                                        <input type="password" name="password" class="form-control">
                                    </div>
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-success">Login</button>
                                </div>
                            </form>
                            <div class="container validation">
                                <div class="row">
                                    <ul class="col-10">
                                        {%if messages%}
                                            {%for message in messages%}
                                                <li class="text-left valid-style">{{message}}</li>
                                            {%endfor%}
                                        {%endif%}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>   
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>    
    </body>
</html>