@import url('https://fonts.googleapis.com/css?family=Work+Sans');


* {
    padding:0;
    margin:0;
    font-size:1rem;
    box-sizing: border-box;
}

body, html {
    font-family: 'Work Sans', sans-serif;
    height:100%
}

#wrapper {
    min-height:100%;
}

.navbar-container {
    background: rgb(61, 71, 79);
}
.navbar-container {
    background: rgb(61, 71, 79);
    min-width: 100%;
    padding:0;
    #brand-text {
        font-size:25px;
    }
    .collapse {
        padding:8px;
    }
    #navbar-brand {            
        color: rgb(171, 179, 181);
        text-decoration: none;
        &:hover {
            color:greenyellow;
        }
        img {
            margin-bottom:10px;
        }
    }
    .nav-link {
        color: rgb(171, 179, 181);
        &:hover {
            color:greenyellow;
        }
    }
    .fa-book-open {
        color: rgb(255, 0, 0);
    }  
}

#top-header{
    background:url("./../../book_review/img/backgrounds/belp-home4.jpeg") no-repeat center;
    background-size: cover;
    color: rgb(101, 102, 42);
    padding-bottom: 55%;
    padding-top: 50px;
}

#center-content {
    margin-top:4rem;
    .icon {
        margin-bottom:2rem;
    }
    .fas {
        font-size:50px;
    }
    .center-col-content {
        font-size: 25px;
    }
}
.card {
    box-shadow: 0 5px 15px rgba(0,0,0,.15);
    position: relative;
    transition: transform 400ms box-shadow 400ms;
    &:hover {
        box-shadow: 0 15px 70px rgba(0,0,0,.20);
        transform: scale(1.01);
    }
    img {
        margin:auto;
        display:block;
        object-fit: scale-down;
    }
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

blockquote::before {
    content: open-quote;
    color: #cc0000;
    font-size: 1.5em;
}
blockquote::after {
    content: close-quote;
    color: #cc0000;
    font-size: 1.5em;
}

#old-reviews {
    margin-bottom: 45px;
    background-color: #f6f6f6;
}

#last-hr:last-child {
    display:none;
}

#main-footer-content {
    background:#303036;
    color:rgb(220, 220, 220);
    margin-top:-40px;
    .footer-content {
        margin:2rem 0;
    }
    .quicklinks {
        list-style-type: none;
    }
    .company-address {
        margin-bottom:8px;
    }
    .social-media {
        a {
            color:rgb(220, 220, 220);
            border: gray solid 1px;
            width:41px;
            height:45px;
            margin-right:5px;
            padding-top:6px;
            text-align: center;
            display:inline-block; 
            font-size:16px;
            border-radius:5px;
            &:hover {
                color:white;
                border:white solid 1px;
                transition:all 0.3s;
            }
        }
    }
    // @media (max-width:767px) {
    //     margin-top:-1000px;
    // }
}

#footer {
    background:#343a40;
    color:#d3d3d3; 
    background:#343a40;
    height:50px;
    text-align: center;
    bottom:0;
    .copyright-text {
        padding-top:15px;
        margin-bottom:0; 
    }
}