@import url("https://fonts.googleapis.com/css?family=Work+Sans");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

blockquote::before {
  content: open-quote;
  color: #cc0000;
  font-size: 1.5em;
}

blockquote::after {
  content: close-quote;
  color: #cc0000;
  font-size: 1.5em;
}

.validation {
  margin-top: 35px;
}

#home-wrapper {
  font-family: 'Work Sans', sans-serif;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.top {
  background: url("../../img/backgrounds/belp-home4.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #384047;
  padding-bottom: 55%;
  padding-top: 50px;
}

#text-awaits {
  color: #65662a;
}

#recent-review {
  margin-top: 50px;
}

#other-reviews-home {
  margin: 0;
  background-color: #f6f6f6;
}

.review-box {
  border-radius: 15px;
}

.review-box:hover {
  background-color: white;
}

#scrollBar {
  height: 50%;
  border-radius: 15px;
}

#scrollBar:hover {
  background-color: white;
}

.card {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  position: relative;
  -webkit-transition: -webkit-transform 400ms box-shadow 400ms;
  transition: -webkit-transform 400ms box-shadow 400ms;
  transition: transform 400ms box-shadow 400ms;
  transition: transform 400ms box-shadow 400ms, -webkit-transform 400ms box-shadow 400ms;
}

.card:hover {
  -webkit-box-shadow: 0 15px 70px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 70px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.card img {
  margin: auto;
  display: block;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.book-id {
  border-radius: 30px;
  padding-left: 12px;
  background-color: #bcc1b5;
  border: 1px solid black;
}

#add-wrapper {
  font-family: 'Work Sans', sans-serif;
}

#area-text-add {
  border-radius: 5px;
}

.profile-pic.form-control {
  width: 150px;
  height: 130px;
  border: 0;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

#user-profile .form-control {
  border-radius: 15px;
  margin-top: 30px;
}

#user-wrapper {
  font-family: 'Work Sans', sans-serif;
  background: url("../../img/backgrounds/wood.jpeg");
  background-repeat: no-repeat;
  font-family: 'Work Sans', sans-serif;
  background-size: cover;
  padding-bottom: 550px;
}

.btn-edit a:hover {
  text-decoration: none;
  color: white;
}

.btn-edit a {
  text-decoration: none;
  color: white;
}

#edit-wrapper {
  background: url("../../img/backgrounds/book-cactus.jpg");
  background-repeat: no-repeat;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  background-size: cover;
  padding-bottom: 130px;
}

.edit-alert {
  font-weight: bold;
  list-style: none;
  letter-spacing: .1em;
}

#edit-profile {
  margin-top: 100px;
}

.edit-form input[type=text] {
  border-radius: 15px;
}

.edit-form input[type=email] {
  border-radius: 15px;
  opacity: 1;
}

.edit-form input[type=password] {
  border-radius: 15px;
  opacity: 1;
}

.edit-form label {
  margin-top: 15px;
}

.val-update ul {
  margin-top: 15px;
}

#book-wrapper {
  font-family: 'Work Sans', sans-serif;
}

.top-header p {
  margin-bottom: 0;
  margin-top: 30px;
}

.top-header img {
  margin: auto;
  margin-top: 50px;
  display: block;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.liner::before {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  background: gray;
}

.profile-pic {
  width: 150px;
  height: 130px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.fa-trash-alt {
  color: red;
  cursor: pointer;
}
/*# sourceMappingURL=indexx.css.map */