@import url('https://fonts.googleapis.com/css?family=Work+Sans');


* {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Work Sans', sans-serif;
    height: 100%
}

#wrapper {
    min-height: 100%;
    background-image: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%);
}

.navbar-container {
    background: rgb(61, 71, 79);
}

.navbar-container {
    background: rgb(61, 71, 79);
    min-width: 100%;
    padding: 0;

    #brand-text {
        font-size: 25px;
    }

    .collapse {
        padding: 8px;
    }

    #navbar-brand {
        color: rgb(171, 179, 181);
        text-decoration: none;

        &:hover {
            color: greenyellow;
        }

        img {
            margin-bottom: 10px;
        }
    }

    .nav-link {
        color: rgb(171, 179, 181);

        &:hover {
            color: greenyellow;
        }
    }

    .fa-book-open {
        color: rgb(255, 0, 0);
    }
}

#user-profile {
    .user-profile {
        margin-top: 4rem;
    }

    .edit-btn {
        margin-right: 10px !important;
    }

    .edit-btn a {
        text-decoration: none;
        color: white;

        &:hover {
            text-decoration: none;
            color: white;

        }
    }

    .card {
        padding: 20px;
        max-width: 840px;

        .card-body {
            padding-top: 0px;

            @media (max-width:767px) {
                padding-left: 0px;
            }
        }
    }

    .book-review-offset {
        margin: 0px;
    }

    .card-img {
        width: 100%;
        height: auto;
    }
}

#main-footer-content {
    background: #303036;
    color: rgb(220, 220, 220);

    .footer-content {
        margin: 2rem 0;
    }

    .quicklinks {
        list-style-type: none;
    }

    .company-address {
        margin-bottom: 8px;
    }

    .social-media {
        a {
            color: rgb(220, 220, 220);
            border: gray solid 1px;
            width: 41px;
            height: 45px;
            margin-right: 5px;
            padding-top: 6px;
            text-align: center;
            display: inline-block;
            font-size: 16px;
            border-radius: 5px;

            &:hover {
                color: white;
                border: white solid 1px;
                transition: all 0.3s;
            }
        }
    }
}

#footer {
    background: #343a40;
    color: #d3d3d3;
    background: #343a40;
    height: 50px;
    text-align: center;
    bottom: 0;

    .copyright-text {
        padding-top: 15px;
        margin-bottom: 0;
    }
}